.mobile-warning{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;     
}

.mobile-warning-content{
    text-align: center;
    color: #034363;
    max-width: 400px;     
}

.mobile-warning-content h2{
    font-size: 28px;  
}

.mobile-warning-content p{
    font-size: 18px;
    line-height: 1.6;
    
}

.admin-layout{
    display: flex;
    min-height: 100vh;   

}

.admin-content-wrapper{
    flex: 1;
    margin-left: 250px;
    display: grid;
    grid-template-rows: 115px 1fr; 
    min-height: 100vh;

}

.admin-content{      
    padding: 2rem;
    overflow-y: auto;
}

.welcome-container{
    width: 100%;
    height: 100%;
    background-image: url('/public/img/admin_layout.jpeg');
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.welcome-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(3, 67, 99, 0.55);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.welcome-overlay h2{
    color: #fecf72;
    text-align: center;
}

.welcome-overlay p{
    color: #fff3d6;
    text-align: center;
    font-size: 18px;
}
