# Copia este archivo, renómbralo a application.properties y completa los valores

# Base de datos
spring.datasource.driverClassName=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/TU_BASE_DE_DATOS
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_PASSWORD

# Tamaño máximo por archivo
spring.servlet.multipart.max-file-size=50MB
# Tamaño máximo del request completo
spring.servlet.multipart.max-request-size=100MB

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# JWT
jwt.secret=CLAVE_SECRETA_QUE_PASE_POR_PRIVADO
jwt.expiration=7200000