.categories-container {
    padding: 0 20px;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 55px;
}

.categories-main-title {
    color: #034363;
    text-align: center;
    font-size: clamp(1.15rem, 1.5vw + 0.9rem, 1.4375rem);
    margin-bottom: 6rem;
}

.category-title {
    color: #034363;
    font-size: clamp(1.5rem, 2vw + 1.1rem, 1.875rem);
    margin-bottom: 40px;
    text-align: center;
}

.category-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
}

.category-card {
    overflow: hidden;
    cursor: pointer;
}

.category-image:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px #034363;
}

.category-image {
    border-radius: 10px;
    width: 100%;
    height: clamp(400px, 45vw, 520px);
    object-fit: cover;
    display: block;
}

.category-info {
    padding: 20px;
    text-align: center;
}

.category-name {
    color: #034363;
    font-size: clamp(1.15rem, 1.3vw + 0.9rem, 1.5625rem);

}

/*----RESPONSIVE---*/
/*--TABLET--*/

@media screen and (max-width: 768px) {

    .categories-container {
        padding: 25px 38px;
    }    

    .category-name {
        color: #1B839D;
    }

}


/*--MOBILE--*/
@media screen and (max-width: 480px) {

    .categories-container {
        padding: 0 30px;
        margin-top: 10px;
    }   

    .category-name {
        color: #1B839D;
    }

    



}