.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: clamp(6px, 1.5vw, 10px);
}

.img-header {
  height: clamp(30px, 6vw, 45px);
  width: clamp(30px, 6vw, 45px);
}

.img-header-ligth {
  display: none;
}

.header.scrolled {
  background-color: #fff3d6;
  opacity: 0.8;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(95%);  
  position: relative;
}

.nav-menu a {
  text-decoration: none;
}

.header-title {
  color: #034363;
  font-size: clamp(18px, 3vw, 32px);
}

.nav-buttons-container {
  transition: all 0.3s ease;
}

.header-buttons {
  display: flex;
  gap: clamp(15px, 3vw, 28px); 
}

.user-buttons {
  background: none;
  border: none;
  color: #034363;
  font: inherit;
  font-weight: 700;
  font-size: clamp(16px, 2vw, 20px);
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

.menu-icon {
  width: clamp(24px, 5vw, 28px);
  height: clamp(24px, 5vw, 28px);
}  

/*---------RESPONSIVE----------*/
/*--TABLET--*/

@media screen and (max-width: 768px) {  

  .img-header-ligth {
    display: none;
  }  
}

/*--MOBILE--*/
@media screen and (max-width: 480px) {
  .img-header {
    display: none;
  }

  .img-header-ligth{
    display: block;
    height: clamp(26px, 7vw, 30px);
    width: clamp(26px, 7vw, 30px);
  }

  .header-title {
    color: #fff3d6;    
  }

  .header.scrolled {
    background-color: #034363;
    opacity: 0.8;
  }

  .hamburger-menu {
    display: flex;
  }

  .nav-menu {
    width: 90%;
    padding: 15px 0;
  }

  .header.scrolled {
    opacity: 0.95;
  }

  .nav-buttons-container {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #034363;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
  }

  .nav-buttons-container.menu-open {
    padding: 45px 13px;
    max-height: 200px;
    opacity: 1;
  }

  .header-buttons {
    flex-direction: column;
    gap: 15px;
  }

  .user-buttons {
    padding: 8px 10px; 
    margin-right: 10px;
    text-align: center;
    color: #fff3d6;
  }
}
