.register-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    
}

.right-image-panel{    
    background-image: url('img/register-panel.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

/*----------Lado izquierdo----------*/
.register-form-panel{    
    flex: 1;
    background-color: #FFF9EB;
    display: flex;    
    justify-content: center;
    padding: 3rem;
}

.register-form-container{
    width: 100%;
    max-width: 360px;
    margin: auto 0;
}


.register-header{
    margin-bottom: 40px;
}

.register-header p{
    color: #15667a;
    text-align: center;
    font-size: clamp(1rem, 0.3vw + 0.9rem, 1rem);
    margin-top: 40px;
}

.register-title{
    color: #15667a;
    text-align: center;
    font-size: clamp(2rem, 2vw + 1.3rem, 2.3rem);
}

.register-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group-register{
    margin-bottom: 10px;
}

.form-label{
    display: block;
    font-size: clamp(1.1875rem, 1.5vw + 1rem, 1.5rem);
    letter-spacing: 1.2px;
    color: #034363;
    margin-bottom: 5px;    
    font-weight: 600;
}

.form-input-register{
    width: 100%;
    padding: 13px;
    background-color: #FFF9EB;
    border: 1px solid #1b839d;
    border-radius: 5px;
    box-sizing: border-box;    
    
}

.form-input-register:focus{
    outline: none;
    border-color: #219ebc;
    box-shadow: 0 0 0 3px rgba(3, 67, 99, 0.08);
}

.form-input-register::placeholder{
    color: gray;
    opacity: 0.5;
}

.register-btn{
    width: 100%;
    padding: 13px;
    font-weight: 600;
    font-size: clamp(1rem, 1vw + 0.85rem, 1.2rem);
    background: linear-gradient(135deg, #219EBC 0%, #034363 100%);
    color: #FFF9EB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-btn:hover{
    background: linear-gradient(135deg, #18748B 0%, #02283B 100%);
    transform: translateY(-1px);
}

.error-message {
    color: #d9534f;     
    font-size: 0.8rem;
    margin-top: 4px;
    display: block;
}

/*----RESPONSIVE---*/
/*--TABLET--*/

@media screen and (max-width: 768px), screen and (max-width: 1024px) and (orientation: portrait){
    .register-page{
        display: flex;
        flex-direction: column;        
    }

    .right-image-panel{ 
        flex: 0 0 auto;      
        width: 100%;
        height: clamp(280px, 35vw, 380px);                   
        order: -1;       
        
    }

    .register-form-panel{   
        flex: 1 0 auto;                             
        padding: 2rem 1.5rem;
        border-radius: 40px 40px 0 0;
        margin-top: -40px;   
        position: relative;
        z-index: 1;
        
    }    

   
    .register-form{
        gap: 18px;
    }
    

}

